$o-promobox-is-silent: true !default;

@import "o-colors/main";
@import "o-fonts/main";

$o-promobox-class-type: unquote("%");

@if $o-promobox-is-silent == false {
  $o-promobox-class-type: unquote(".");
  @include oFontsInclude(BentonSans);
}

@import "src/base";
@import "src/standard";
