$o-promobox-is-silent: true !default;

@import "o-colors/main";

$o-promobox-class-type: unquote("%") !default;

@if $o-promobox-is-silent == false {
	$o-promobox-class-type: unquote(".") !global;
}

@import "src/variables";
@import "src/base";
@import "src/standard";

@import "src/deprecated/variables";
@import "src/deprecated/base";
@import "src/deprecated/standard";
