<div class="o-promobox o-promobox--skinny o-promobox--standard">
  <h3 class="o-promobox__title">Repeating work.. again, again, again</h3>
  <img class="o-promobox__image" src="http://image.webservices.ft.com/v1/images/raw/http:%2F%2Forigami.ft.com%2Fimg%2Fdevices.png?width=167&source=docs" alt="Duplication, duplication, duplication "/>
  <p>With the FT Web App, we’ve discovered a whole new way of repeating work. markets.ft.com already offers all the markets data features we want to offer readers, and yet FT Labs built a new version of Markets Data within the web app, because the version made by MarkIT is not responsively designed and so doesn’t work on phones and tablets. We did the same with FT Clippings.</p>
</div>
