<div class="o-promobox o-promobox--standard">
  <h3 class="o-promobox__title">Repeating work.. again, again, again</h3>
  <img class="o-promobox__image" src="http://image.webservices.ft.com/v1/images/raw/http:%2F%2Forigami.ft.com%2Fimg%2Fmarketsdata-twice.jpg?width=167&source=docs" alt="Duplication, duplication, duplication "/>
  <p>Over the years, FT has evolved from having digital represent a tiny fraction of a huge print operation to having it in the centre of the business. Along the way we've created or acquired over six hundred websites and eight hundred something.ft.com sites. Every time we build a new website, we repeat work done before, and we waste time and money.</p>
  <p>There are lots of examples of this kind of thing. While www.ft.com has always been the ‘core product’ and generally received changes in design first, other sites that are ‘FT style’ take time to convert over. The full cost of redesigning anything on the site is often vastly underestimated, because it ultimately includes the cost of bringing all websites that share that style into line with the new standard (a process that often takes years to complete).</p>
  <p>With the FT Web App, we’ve discovered a whole new way of repeating work. markets.ft.com already offers all the markets data features we want to offer readers, and yet FT Labs built a new version of Markets Data within the web app, because the version made by MarkIT is not responsively designed and so doesn’t work on phones and tablets. We did the same with FT Clippings.</p>
</div>
