/**
 * Colour palette
 *
 * These are the colours that make up the FT palette.  We don't use these colours directly, but instead assign them to 'use cases', which are defined in use-cases.scss.  In the list below, each line contains a color name and a colour code, and is finished with a comma:
 *
 *  <colorname>   <colour code>,
 *
 * The colour name must be a single word comprising just letters, numbers, and dashes.  You can have as many spaces between the colour name and the colour code as you like (so you can line them up neatly), and you *MUST* finish the line with a comma (except the final entry, which should not have a comma)
 */
/**
 * Colour use cases
 *
 * These mappings define what we use our colours for.
 *
 * Use case:           Must be a single word comprising just letters, numbers, and dashes.
 * Color name:         Must be an exact match for a name of a colour defined in palette.scss
 * CSS class property: Should be 'text', 'border', 'background', or 'all'.
 * Status:             Should normally not have a value. For out-dated colour use cases it should have one of the following values:
                        'DEPRECATED' - The use case should not be used. Emits a warning during the SASS build
                                        In general should only be used where *every* role (text, background, border) for the use case
                                        is permanently deprecated
                        'DISABLED' - The use case + role combination currently inherits from a more generic use case. 
                                    Behaves the same as 'DEPRECATED' if the user has not specified a valid fallback use case
                                    If a valid fallback is specified it silently ignores the disabled use case in favour of the fallback
 *
 * You can have as many spaces between each entry as you like (so you can line them up neatly), and you *MUST* finish each line with a comma (except the final entry, which should not have a comma).
 *
 *
 *  <use case>                        <colorname>            <cssclassproperty>   [<status>]
 */
@font-face {
  font-family: BentonSans;
  font-weight: normal;
  font-style: normal;
  src: url("//build.origami.ft.com/files/o-fonts-assets@0.2.1/bentonsans-normal.eot");
  src: url("//build.origami.ft.com/files/o-fonts-assets@0.2.1/bentonsans-normal.eot?#iefix") format("embedded-opentype"), url("//build.origami.ft.com/files/o-fonts-assets@0.2.1/bentonsans-normal.woff") format("woff"), url("//build.origami.ft.com/files/o-fonts-assets@0.2.1/bentonsans-normal.ttf") format("truetype"); }
/**
 * Component settings
 *
 * At twice the size of the maximum width of the image
 * that appears on promoboxes (yes, I know :()
 */
/**
 * Base styling
 */
.o-promobox {
  width: 100%;
  padding-top: 14px;
  overflow: hidden; }
  .o-promobox p {
    padding: 0 7px 14px 7px;
    margin: 0; }

.o-promobox__title {
  padding: 0 7px 14px 7px;
  margin: 0; }

.o-promobox__image {
  float: left;
  padding: 0 28px 14px 7px; }

/**
 * Define the responsivity
 */
.o-promobox.o-promobox--skinny {
  width: 167px; }
  .o-promobox.o-promobox--skinny .o-promobox__image {
    padding: 0 0 14px 0;
    margin: 0; }

/**
 * Standard theme
 */
.o-promobox--standard {
  border-top: 3px solid #a7a59b;
  background-color: #e9decf;
  font-family: BentonSans, Helvetica, Arial, sans-serif; }
  .o-promobox--standard .o-promobox__title {
    line-height: 21px;
    font-size: 16px; }
  .o-promobox--standard p {
    font-size: 14px;
    line-height: 21px; }

@media (min-width: 500px) {
  .custom-responsivity {
    width: 167px; }
    .custom-responsivity .o-promobox__image {
      padding: 0 0 14px 0;
      margin: 0; } }

/*# sourceMappingURL=demo.css.map */
