/**
 * @group o-promobox
 * @link http://registry.origami.ft.com/components/o-promobox
**/

/**
 * Base styling
 */
@mixin oPromobox {
	width: 100%;
	padding-top: 14px;
	overflow: hidden;

	p {
		padding: 0 7px 14px;
		margin: 0;
	}
}

/**
 * Apply to promobox title
 */
@mixin oPromoboxTitle {
	padding: 0 7px 14px;
	margin: 0;
}

/**
 * Apply to promobox image
 */
@mixin oPromoboxImage {
	float: left;
	padding: 0 28px 14px 7px;
}

/**
 * Defines the 'resonsivity' - apply to main promoxbox container
 */
@mixin oPromoboxSkinny {
	width: $o-promobox-width;

	.o-promobox__image {
		padding: 0 0 14px;
		margin: 0;
	}
}

// uncomment the below when the deprecated placeholder stuff is removed
/*
.o-promobox {
	@include oPromobox;
}

.o-promobox__title {
	@include oPromoboxTitle;
}

.o-promobox__image {
	@include oPromoboxImage;
}


.o-promobox--skinny {
	@include oPromoboxSkinny;
}
*/
