/**
 * @group o-promobox
 * @link http://registry.origami.ft.com/components/o-promobox
**/

/**
 * Promobox container styling
 *
 * @param {boolean} $skinny (false) - force promobox to have a fixed, narrow width
 * @param {boolean} $skinny-width ($o-promobox-skinny-width) - with of the skinny promobox
 *
 * @requires {variable} $o-promobox-skinny-width
 */
@mixin oPromobox($skinny: false, $skinny-width: $o-promobox-skinny-width) {
	padding-top: 14px;
	overflow: hidden;

	p {
		padding: 0 7px 14px;
		margin: 0;
	}

	@if $skinny {
		width: $skinny-width;

		.o-promobox__image {
			padding: 0 0 14px;
			margin: 0;
		}
	} @else {
		width: 100%;
	}
}

/**
 * Promobox title structure
 */
@mixin oPromoboxTitle {
	padding: 0 7px 14px;
	margin: 0;
}

/**
 * Promobox image structure
 */
@mixin oPromoboxImage {
	float: left;
	padding: 0 28px 14px 7px;
}

@if $o-promobox-is-silent == false {
	.o-promobox__title {
		@include oPromoboxTitle;
	}

	.o-promobox__image {
		@include oPromoboxImage;
	}

	.o-promobox {
		@include oPromobox;
	}

	.o-promobox--skinny {
		@include oPromobox($skinny: true);
	}
}
