////
/// @group o-promobox
/// @link http://registry.origami.ft.com/components/o-promobox
////

/// Standard theme title
@mixin oPromoboxStandardTitle {
	font-size: 16px;
	line-height: 21px;
}

/// Standard theme
@mixin oPromoboxStandard {
	border-top: 3px solid oColorsGetPaletteColor('pink-tint4');
	background-color: oColorsGetPaletteColor('pink-tint2');

	> p {
		font-size: 14px;
		line-height: 21px;
	}
}

@if $o-promobox-is-silent == false {
	.o-promobox--standard {
		@include oPromoboxStandard;

		.o-promobox__title {
			@include oPromoboxStandardTitle;
		}
	}
}
