/**
 * @group o-promobox
 * @link http://registry.origami.ft.com/components/o-promobox
**/

/**
 * Standard theme
 */
@mixin oPromoboxStandard {
	border-top: 3px solid oColorsGetPaletteColor(pink-tint4);
	background-color: oColorsGetPaletteColor(pink-tint2);
	font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);

	.o-promobox__title {
		line-height: 21px;
		font-size: 16px;
	}

	p {
		font-size: 14px;
		line-height: 21px;
	}
}

// uncomment when deprecated stuff removed
/*
.o-promobox--standard {
	@include oPromoboxStandard;
}
*/
