/**
 * Standard theme
 */

#{$o-promobox-class-type}o-promobox--standard {
	border-top: 3px solid oColorsGetPaletteColor(pink-tint4);
	background-color: oColorsGetPaletteColor(pink-tint2);
	font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);

	#{$o-promobox-class-type}o-promobox__title {
		line-height: 21px;
		font-size: 16px;
	}

	p {
		font-size: 14px;
		line-height: 21px;
	}
}
